doctype 5
html(lang="en")
	head
		title Where The Heck Is Tom?
		link(href='site.css', rel='stylesheet', type='text/css')
	body
		h1 #{city}
		#footer
			ul
				li.first: a(href='http://tomrudick.com') tomrudick.com
				li: a(href='http://rudickulous.com') rudickulous
				li: a(href='http://www.github.com/tmrudick') github
